<div class="">
  <div class="container m-auto bg-white max-w-lg h-auto flex flex-col justify-center mt-12">
    <button class="px-2 py-2 text-white rounded m-3 bg-blue-500 mt-12"><a href="#">Continue with facebook</a></button>
    <button class="px-2 py-2 text-black rounded border border-gray-900 m-3"><a href="#">Continue with Google</a></button>
    <button class="px-2 py-2 text-white rounded bg-black m-3"><a href="#">Continue with Email</a></button>
    <input type="search" class="px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded m-3" placeholder="Your Email Address or profile URL">
    <button class="px-2 py-2 text-white rounded bg-orange-500 m-3"><a href="#">Continue</a></button>
    <a href="#" class="text-xs text-blue-400 m-3">Need Help?</a>
    <p class="text-xs text-gray-500 m-3">We may use your email and devices for updates and tips on SoundCloud's products and services, and for activities notifications. You can unsubscribe for free at any time in your notification settings.</p>
    <p class="text-xs text-gray-500 mx-3">We may use information you provide us in order to show you targeted ads as described in our 
      <a href="#" class="text-blue-500">Privacy Policy.</a>
    </p>
  
  </div>
</div>