<%#=專輯播放頁面%>




<%#=置頂分享頁面的navbar%>
<div class="bg-gray-800 w-full flex justify-start sticky top-0">
  <div class="text-gray-400 hover:text-white w-1/12 py-4 pt-2 pl-2 text-center">這是LOGO</div>
  <div class="text-gray-400 hover:text-white w-1/12 pt-2 border-r border-black text-center">Home</div>
  <div class="text-gray-400 hover:text-white w-1/12 pt-2 border-r border-black text-center">Stream</div>
  <div class="text-gray-400 hover:text-white w-1/12 pt-2 border-r border-black text-center">Library</div>
  <input type="search" class="px-2 m-2 bg-gray-200 rounded w-4/12 focus:outline-none" placeholder="Search">
  <div class="text-gray-400 hover:text-white pt-2 text-center mx-3"><i class="fas fa-arrow-alt-circle-up"></i></div>
  
  <div class="text-gray-400 hover:text-white w-2/12 flex justify-around items-center">
    <img class="w-1/6 h-1/6 mx-2 rounded-full" src="https://i1.sndcdn.com/artworks-48wHUXnYlyIAyhPm-kAqlLQ-t500x500.jpg" alt="">
    <div class="">Username</div>
    <i class="fas fa-angle-down"></i>
  </div>
  
  <div class="text-gray-400 hover:text-white pt-2 text-center mx-3"><i class="fas fa-bell"></i></div>
  <div class="text-gray-400 hover:text-white pt-2 text-center mx-3"><i class="fas fa-envelope-open"></i></div>
  <div class="text-gray-400 hover:text-white pt-2 pr-2 text-center mx-3"><i class="far fa-address-card"></i></div>
</div>
<%#=第一背景色區%>
<div class="mx-4">
  <div class="flex bg-gradient-to-r from-red-500 via-white to-orange-700">
    <div class="w-2/3 flex-col-reverse space-y-64 m-5">
      <div class="flex">
        <i class="fas fa-arrow-alt-circle-right fa-4x"></i>
        <div class="">
          <div class="bg-black rounded p-1 text-white m-1">
            Made for Username
          </div>
          <div class="flex bg-gray-900 rounded">
            <div class="text-2xl text-white m-2">The Upload</div>
            <div class="text-orange-700 m-auto mr-2"><i class="fas fa-unlock"></i></div>
            <div class="text-orange-700 m-auto mr-2">Private</div>
          </div>
        </div>
        <div class="m-4 text-xl text-white">
          <div class="">
            1 month ago
          </div>
          <div class="">
            #Dance & EDM
          </div>
        </div>
      </div>

<%#=萱大大專區%>
      <div class="">
        <i class="fab fa-twitter fa-2x"></i>
      </div>
    </div>
<%#=右邊大圖區%>
    <div class="w-1/3 p-4">
      <img class="" src="https://i1.sndcdn.com/artworks-48wHUXnYlyIAyhPm-kAqlLQ-t500x500.jpg" alt="">
    </div>
  </div>
</div>

<%#=左邊專區起始%>
<div class="flex m-4">
  <div class="w-3/4 m-4">
  <%#=左邊專區：最上面的Comment區域%>
    <div class="border-b border-gray-400">
      <div class="flex ">
        <img class="w-auto h-10 " src="https://i1.sndcdn.com/artworks-48wHUXnYlyIAyhPm-kAqlLQ-t500x500.jpg" alt="">
        <input class="w-11/12 mx-4 border border-gray-400 rounded" type="text" placeholder="Write a comment">
      </div>
      <div class="flex my-2 p-2 justify-around text-sm">
        <button class="border border-gray-400 p-1 rounded">
          <i class="fas fa-heart"></i>
          like
        </button>
        <button class="border border-gray-400 p-1 rounded">
          <i class="fab fa-gg-circle"></i>
          Repost
        </button>
        <button class="border border-gray-400 p-1 rounded">
          <i class="fas fa-share-square"></i>
          share
        </button>
        <button class="border border-gray-400 p-1 rounded">
          <i class="fas fa-balance-scale-left"></i>
          Add to Next Up
        </button>
          <button class="border border-gray-400 p-1 rounded">
          <i class="fas fa-bolt"></i>
          More
        </button>
        <button class="p-1">
          Stream everywhere
        </button>
        <button class="p-1 text-gray-400">
          <i class="fas fa-chevron-circle-right"></i>
          10.2K
        </button>
        <button class="p-1 text-gray-400">
          <i class="fas fa-heart"></i>
          1,336
        </button>
        <button class="p-1 text-gray-400">
          <i class="fab fa-gg-circle"></i>
          Repost
        </button>

      </div>
    </div>
    <div class="flex text-sm">
  <%#=左邊專區大頭照那%>
      <div class="w-1/5 mr-4">
        <img class="rounded-full mt-6 mr-6 w-3/4" src="https://i1.sndcdn.com/avatars-000607373832-b25xhj-t200x200.jpg" alt="">
        <div class="flex justify-start p-1">
          <div>Dani Corbalan</div>
          <i class="far fa-star"></i>
        </div>
        <div class="flex justify-start p-1">
          <i class="fas fa-user-friends"></i>
          <p class="text-gray-400 mx-2">3,003</p>
          <i class="fab fa-soundcloud"></i>
          <p class="text-gray-400 mx-2">464</p>
        </div>
        <button class="flex bg-orange-500 text-white p-1 rounded">
          <i class="fas fa-user-check"></i>
          <p class="mx-2">Follow</p>
        </button>
      </div>
  <%#=正中間留言總數%>
      <div class="w-4/5 ">
                    <div class="flex text-gray-400 m-4 p-2 border-b border-gray-400">
                      <i class="fas fa-comments"></i>
                      <p class="mx-1">2253</p> 
                      <p class="mx-1">comments</p>
                    </div>
  <%#=顯示正中間留言區那%>
        <div class="">
          <div class="flex">
            <img class="w-1/12 rounded-full" src="https://i1.sndcdn.com/avatars-Y57TiYzkrpCtP0pD-w8fdEA-t120x120.jpg" alt="">
            <div class="w-9/12 mx-2">
              <div class="flex">
                <button>user names</button>
                <p>at</p>
                <p>time</p>
              </div>
              <p class="">Ls assumeicas, commodi nostrum enim minima? A quas ut consequatur suscipit, cum quae dolore.</p>
            </div>
            <div class="w-2/12 text-gray-400">
              21 hours ago
            </div>
          </div>
<%#=顯示正中間針對留言的留言那%>
          <div class="flex mt-4 ml-6">
            <img class="w-1/12 rounded-full" src="https://i1.sndcdn.com/avatars-Y57TiYzkrpCtP0pD-w8fdEA-t120x120.jpg" alt="">
            <div class="w-9/12 mx-2">
              <div class="flex">
                <button>user names</button>
                <p>at</p>
                <p>time</p>
              </div>
              <p class="">Ls assumeicas, commodi nostrum enim minima? A quas ut consequatur suscipit, cum quae dolore.</p>
            </div>
            <div class="w-2/12 text-gray-400">
              21 hours ago
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


<%#=右邊專區%>
  <div class="w-1/4 m-4">
    <div class="flex justify-between text-gray-500 border-b border-gray-300 text-sm p-2">
      <div class=""><i class="fas fa-heart"></i> Related Tracks</div>
      <button class="">view all</button>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
      </div>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
      </div>
    </div>
    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
      </div>
    </div>

    <div class="flex border-t border-gray-400">
      <div class="my-3 text-xs table-row-group">

        <div class="">
          <span class="text-gray-500  hover:text-black"><a href="#">Legal</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Privacy</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Cookies</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Imprint</a></span>

          <span class="text-gray-500  hover:text-black"><a href="#">Creator Resources</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Blog</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Charts</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Popular Search</a></span>
        </div>
        
          <div class="mt-2 mb-20">
            Language: English (US)
          </div>

      </div>
    </div>
  </div>

  
</div>